// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.basic-length {
  height: 280px;
  width: 280px;
}

.good-des {
  padding-top: 15px;
}
.new-photo {
  font-size: 27px;
  font-weight: 600;
}
.my-gal {
  padding-right: 4%;
  text-align: center;
  font-size: 60px;
  color: darkmagenta;
}

.fit {
  margin-left: 90px;
  display: grid;
  grid-template-columns: repeat(6, 300px);
  grid-template-rows: repeat(6, 300px);
}

.gal-head {
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-bottom: 50px;
}

.gal-form {
  border: 2px solid black;
  width: 50%;
  border-radius: 10px;
  margin-left: 20%;
  padding: 30px;
}

.pd-pd {
  margin-bottom: 30px;
}
